@media ( max-width: 1200px ) {
	.header-nav a {
		width: 158px;
		font-size: 15px;
	}
	.social-box a {
		width: 35px;
		height: 35px;
		line-height: 35px;
		font-size: 12px;
	}
}
@media ( max-width: 980px ) {
	img.social {
		display: none;
	}
	main {
		padding: 10px;
	}
	.main-content {
		padding: 0;
	}
	.main-content img {
		width: 100%;
	}
	.header-nav a {
		width: 113px;
	}
	
	.header-nav a:last-child {
		width: 160px!important;
	}
}

@media ( max-width: 767px ) {
  .header-top .logo img {
		display: none;
	}
	.small {
		display: block;
	}
	.header-nav {
		display: none;
	}
	header .header-top .logo h3 {
		font-size: 30px;
	}
	.header-top {
		padding: 20px 0;
  }

  form.search {
		display: none;
	}
	.toggle-menu {
		display: block;
	}

	.content-left {
		flex-basis: 100%;
  }
  .content-right {
		display: none;
	}
	section article {
		padding: 0;
	}
}

@media ( max-width: 480px ) {
	header .header-top .logo h3 {
		font-size: 20px;
	}
	main {
		margin-top: 30px;
	}
	section article h2 {
		font-size: 40px;
		line-height: 50px;
	}
	section article .description {
		margin-bottom: 30px;
	}
	section article .description a {
		font-size: 15px;
	}
}
