.header-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  background-color: #273036;
  display: inline-block;
  width: 190px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  transition: ease all 0.5s;
  -o-transition: ease all 0.5s;
  -moz-transition: ease all 0.5s;
  -webkit-transition: ease all 0.5s;
  font-weight: 700;
}
.header-nav a:hover {
	background-color: #5fcf80;
}
.header-nav a:first-child {
	border-top-left-radius: 10px;
}
.header-nav a:nth-child(5) {
	border-top-right-radius: 10px;
}
.header-nav a:last-child {
	background-color: #5fcf80;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	float:right;
}

/* SMALL MENU */
aside.small-menu {
  width:  100%;
  height: 100vH;
  position: fixed;
  top:  0;
  left: 0;
  background-color: #5ed086;
  z-index: 10;
	padding-top: 60px;
}
aside.small-menu a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: #444;
	transition: ease all 0.5s;
	-o-transition: ease all 0.5s;
	-moz-transition: ease all 0.5s;
	-webkit-transition: ease all 0.5s;
}
aside.small-menu a:hover {
  background-color: #fff;
}
aside.small-menu i {
	position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
	color: #444;
	cursor: pointer;
}