body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/* header */
header {
	background-color: #353e45;
}
header .logo {
	display: flex;
	flex-basis: 50%;
}
header .logo h3 {
	margin: 0;
  color: #63686d;
  font-size: 44px;
  line-height: 50px;
  padding-left: 10px;
  font-weight: 400;
}
header .logo h3 b {
	color: #fff;
}
header .header-inner {
	max-width: 1200px;
	margin: 0 auto;
}
header form input {
  outline: 0;
  border: 0;
  background-color: #273036;
  height: 50px;
  width: 300px;
  border-radius: 30px;
  color: #ddd;
  box-sizing: border-box;
  padding: 10px 40px 10px 20px;
	font-size: 14px
}
.header-top {
	display: flex;
  justify-content: space-between;
	padding: 55px 0;
}

form.search {
	position: relative;
}
form.search i {
	position: absolute;
	top: 13px;
	right: 15px;
	font-size: 20px;
	color: #ddd;
}

.toggle-menu,
aside {
	display: none;
}
.toggle-menu {
	padding-right: 20px;
}
.toggle-menu i {
	font-size: 39px;
	margin-right: 20px;
	color: #ddd;
	cursor: pointer;
}

.small {
	display: none;
}

.small-search {
	display: none;
}
.small-search input {
	width: 100%;
	height: 40px;
	font-size: 15px;
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 10px;
}

p.indented {
	padding: 0 0 30px 30px;
}

.gradient {
	height: 5px;
	background-image: repeating-linear-gradient(
	to right,
	#fd805a 0px, #fd805a 30px,
	#fed36e 30px, #fed36e 70px,
	#68d387 70px, #68d387 100px,
	#498059 100px, #498059 140px,
	#47c6e3 140px, #47c6e3 170px,
	#32789d 170px, #32789d 210px,
	#a185c7 210px, #a185c7 230px,
	#6b5982 230px, #6b5982 270px,
	#eb595c 270px, #eb595c 310px,
	#9d4f50 310px, #9d4f50 330px
  );
}

/* main */
main {
	display: flex;
	max-width: 1200px;
	width: 100%;
	margin: 100px auto 50px;
	box-sizing: border-box;
}
.main-content {
	position: relative;
	padding-left: 50px;
}
.main-content .social {
	position: absolute;
	left: 0;
	top: 340px;
}
.main-content .main-right img {
	margin-bottom: 30px;
	width: 100%;
}
.main-content .main-right p {
	font-size: 18px;
	line-height: 24px;
	margin: 0;
}
.main-top {
	display: flex;
	justify-content: space-between;
	padding-right: 30px;
}
.main-top a {
	color: #4b9bc3;
	text-decoration: none;
	font-weight: 900;
	box-sizing: border-box;
}
.main-top a:hover {
	text-decoration: underline;
}

/* main - left social box */
.social-box:after {
	clear: both;
	content: "";
	display: block;
}
.social-box a {
	float: left;
	display: block;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background-color: #d6dade;
	border-radius: 50%;
	transition: ease all 0.5s;
	-o-transition: ease all 0.5s;
	-moz-transition: ease all 0.5s;
	-webkit-transition: ease all 0.5s;
	margin-right: 5px;
  }
.social-box a:first-child:hover {
	background-color: #3b5998;
}
.social-box a:nth-child(2):hover {
	background-color: #1da1f2;
}
.social-box a:nth-child(3):hover {
	background-color: #dd5144;
}
.social-box a:nth-child(4):hover {
	background-color: #f00;
}
.social-box a:nth-child(5):hover {
	background-color: #e97b30;
}

/* main - left */
.content-left {
	flex-basis: 70%;
	min-width: 0;
}
/* main - right */
.content-right {
	flex-basis: 30%;
	min-width: 0;
}
.content-right .logo {
	display: flex;
	margin-top: 20px;
}
.content-right .logo span {
	color: #384047;
	font-weight: 900;
	line-height: 28px;
	font-size: 24px;
	margin-left: 5px;
}
.content-right p {
	color: #8e8e8e;
	line-height: 20px;
	margin-top: 28px;
	margin-bottom: 30px;
}
.content-right .stay-updated {
	background-color: #eaeef1;
	padding: 20px;
	border-radius: 10px;
}
.content-right .stay-updated h3 {
	color: #444;
	font-size: 28px;
   	margin-top: 0;
}
.content-right .stay-updated p {
	color: #444;
}
.content-right .stay-updated ul {
	list-style-type: none;
}
.content-right .stay-updated ul li {
	position: relative;
	margin-bottom: 15px;
	line-height: 24px;
	font-size: 15px;
}
.content-right .stay-updated ul li i {
	position: absolute;
	top: 2px;
	left: -30px;
	font-size: 15px;
	color: #5ed086;
}

/* main - article */
section article {
	padding-right: 100px;
}
section article h2 {
	color: #2d3138;
	font-size: 57px;
	line-height: 65px;
	font-weight: 900;
	margin: 30px 0 10px;
}
section article .description {
	display: flex;
	margin-bottom: 100px;	
}
section article .description a {
	text-decoration: none;
	font-size: 20px;
	line-height: 24px;
}
section article .description i {
	font-size: 8px;
	line-height: 24px;
	margin: 0 10px;
}
section article .description a.author {
	color:#d46a59;
}
section article .description a.article {
	color: #71d692;
}
section article .description a.comments {
	color: #4e99bf;
}
section article .description a:hover {
	text-decoration: underline;
}
section article .main-right a {
	color: #4e99bf;
	font-weight: 400;
	text-decoration: none;
}
section article hr {
	border-color: #5ed086;
	margin-top: 50px;
}
